obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper
*.ReSharper.user
*.resharper
*.suo
*.cache
~$*
Thumbs.db
TestResults
TestResults/*
TestResult.xml
TestResults.xml
artifacts
artifacts/*
build
build/*